# Upstox API Credentials
# Get these from the Upstox Developer Console: https://upstox.com/developer/
UPSTOX_API_KEY="YOUR_API_KEY"
UPSTOX_API_SECRET="YOUR_API_SECRET"

# This must be the same Redirect URI you configured in your Upstox App
# A common one for local development is http://127.0.0.1:5000/callback
UPSTOX_REDIRECT_URI="YOUR_REDIRECT_URI"
